{
    "$schema":"./vendor/phpbench/phpbench/phpbench.schema.json",
    "runner.bootstrap": "vendor/autoload.php",
    "runner.path": "benchmarks",
    "report.outputs": {
         "html_report": {
             "extends": "html",
             "title": "faerber/pdf-to-zpl Benchmark"
         },
        "csv_report": {
             "extends": "delimited",
             "delimiter": ","
         }
    },
    "report.generators": {
        "main_report": {
            "extends": "aggregate"
        },
        "plain_text_report": {
            "extends": "aggregate"
        }
    }
}
